:root {
    --bg-color-white: rgb(236, 235, 235);
    --bg-color-black: rgb(12, 12, 12);
    --ft-color-white: rgb(237, 235, 235);
    --ft-color-black: rgb(12, 12, 12);
    --ft-primary: 'Cuprum', sans-serif;
    --ft-secondary: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

body {
    font-family: var(--ft-primary);
    background: var(--bg-color-white);
    color: var(--ft-color-black);
}

header {
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

@media (max-width: 650px) {
    header {
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
    }
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.input-container {
    display: flex;
    gap: 0.5rem;
}

@media (max-width: 800px) {
    .input-container {
        flex-wrap: wrap;
    }
}

input[type="text"] {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: #4c7af7;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3a63d3;
}

#busInfo {
    margin-top: 1rem;
    text-align: center;
}

#map {
    height: 100vh;
}

@media (max-width: 800px) {
  .gm-style > div:first-child > div:nth-child(2) {
    margin-bottom: 40px !important;
  }
}

@keyframes blinking {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }

.blinking {
    animation: blinking 1.5s linear infinite;
}

