:root {
    --bg-color-white: rgb(236, 235, 235);
    --bg-color-black: rgb(12, 12, 12);
    --bg-color-purple: #564095;
    --ft-color-white: rgb(237, 235, 235);
    --ft-color-black: rgb(12, 12, 12);
    --ft-primary: 'Cuprum', sans-serif;
    --ft-secondary: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

body {
    font-family: var(--ft-primary);
    background: var(--bg-color-white);
    color: var(--ft-color-black);
}

header {
    background-color: var(--bg-color-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#vilkku-logo {
    width: 7rem;
    border-radius: 5px;
}

a > #vilkku-logo {
    height: 90%;
}

@media (max-width: 650px) {
    header {
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
    }
}

h1 {
    font-size: 1.2rem;
}

.white-text {
    color: white;
}

.link {
    text-decoration: none;
    height: 40px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: #4c7af7;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.link:hover {
    background-color: #3a63d3;
}

.input-container {
    display: flex;
    gap: 0.5rem;
}

.card {
    gap: 0.5rem;
    background-color: var(--bg-color-purple);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
    top: 1rem;
    left: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.card a {
    color: white;
}

@media (max-width: 800px) {
    .input-container {
        flex-wrap: wrap;
    }
}

input[type="text"] {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
    height: 40px;
}

button {
    height: 40px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: #4c7af7;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #498ded;
}

#toggleBusInfo {
    padding: 0.2rem 0.4rem;
    height: 25px;
    background-color: rgb(0, 123, 255);
}
#toggleBusInfo:hover {
    background-color: #2a60f5;
}

#useCurrentLocation {
    background-color: red;
}
#useCurrentLocation:hover {
    background-color: rgb(163, 0, 0);
}

#busInfoContent {
    display: none;
    border-radius: 5px;
}

#busInfo {
    position: absolute;
    top: 5rem;
    left: 1rem;
    text-align: center;
    background-color: var(--bg-color-purple);
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding: 0.8rem;
    padding-bottom: 0;
    z-index: 1;
    display: none;
}

#map {
    height: 100vh;
}

@media (max-width: 800px) {
  .gm-style > div:first-child > div:nth-child(2) {
    margin-bottom: 40px !important;
  }
}

@keyframes blinking {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }

.blinking {
    animation: blinking 1.5s linear infinite;
}
